.jimu-widget-BarraScala .barraEscalaSelect {
    width: 115px!important;
    display: inline!important;
    border-bottom-right-radius: 10px!important;
    border-top-right-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
    border-top-left-radius: 10px!important;
}
.jimu-widget-BarraScala .divBarraEscala{
    font-size: 10pt;
    font-weight: bold;
    background-image: linear-gradient(to right bottom, #8aa260, #8aa260, #8aa260, #8aa260, #8aa260);
    color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    
}