.tituloLeyenda{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 5px 0;
    margin-bottom: 2px;
}
.squareLeyenda{
	width: 20px;
	height: 20px;
	background: red;
    display: inline-table;
    margin-right: 10px;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    opacity: 1!important;
}
#listaLeyenda{
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
    border-top: 1px solid #BBBFBB;
    margin-bottom: 5px;
}
.textLeyenda{

}
.divLeyendaSocioeconomica{
    border: #BBBFBB;
    border-style: solid;
    border-width: 1px;
    height: 100%;
}