

.jimu-widget-tablaResultados .divTablaResultados {}

.jimu-widget-tablaResultados .divTablaResultadosGrid {
    width: 420px;
    height: 190px;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: auto;
}

.jimu-widget-tablaResultados .botonesTablaResultados {}

.dojoxGridPaginator {
    width: 100%;
    height: 20px;
}

#dojox_grid_enhanced_plugins__Paginator_0 {
    height: 20px;
}

.dojoxGridDescriptionTd {
    height: 20px;
}
